.content{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.text {
    display: flex;
    flex-direction: column;
    width: 582px;
    text-align: center;
    gap: 30px;
}

.text > h1 {
    font-family: 'Bree Serif';
    font-size: 40px;
}

.text > p{
    font-family: 'PT Sans';
    font-size: 25px;
}

.image > img{
    width: 100%;
    display: flex;
}