@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.container {
    width: 100%;
    margin-top: 75px;
    max-height: fit-content;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.image {
    width: 100%;
    max-width: 490px;
    border: solid 3px #FFB800;
    border-radius: 15px;
}

.texts {
    max-width: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.title {
    display: flex;
    font-size: 50px;
    font-family: "Bree serif";
    color: #FFB800;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.black {
    font-size: 50px;
    font-family: "Bree serif";
    color: black;
}

.subtitle {
    font-size: 25px;
    font-family: "PT Sans";
    font-style: italic;
    color: #595047;
}

@media screen and (max-width: 720px) {
    .texts {
        padding: 0px 20px;
    }

    .title {
        font-size: 40px;
    }

    .black {
        font-size: 40px;
    }

    .subtitle {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    .title {
        font-size: 30px;
    }

    .black {
        font-size: 30px;
    }

    .subtitle {
        font-size: 16px;
    }
}