.container {
    display: flex;
    margin: auto;
    width: 95%;
    padding: 58px 38px;
    background-color: transparent;
    border: 1px solid #FEB702;
    border-radius: 15px;
    margin-top: 25px;

    gap: 35px;
    flex-wrap:wrap ;
}

.cards {
    display: flex;
    width: 40%;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.banner {
    display: flex;
    width: 55%;
}

@media screen and (max-width:1100px) {
    .container{
        flex-direction: column;
        margin-top: 10px;
        padding: 29px 18px;

    }

    .cards{
        width: 100%;
    }
    .banner{
        width: 100%;
    }
    
}