.container {
    display: flex;
    margin: auto;
    width: 95%;
    padding: 58px 38px;
    background-color: transparent;
    border: 1px solid #FEB702;
    border-radius: 15px;
    margin-top: 110px;
    flex-wrap: wrap;
    gap: 35px;
}

.cards {
    display: flex;
    width: 40%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.banner {
    display: flex;
    width: 55%;
}

@media screen and (max-width:1100px) {
    .container {
        flex-direction: column;
        margin-top: 10px;
        padding: 29px 18px;

    }

    .cards {
        width: 100%;
    }

    .banner {
        width: 100%;
    }
}

/*   ContentPrice */

.containerPrice {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 150px;
}

.cardsPrice {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: #FEB702;
    border-radius: 20px;
    background-color: #554F4F;
    border: 2px solid black;
    padding: 40px 20px;
    flex-wrap: wrap;
    gap: 22px;
}