.container {
    display: flex;
    margin: auto;
    width: 87%;
    padding: 58px 38px;
    background-color: transparent;
    border: 1px solid #FEB702;
    border-radius: 15px;
    margin-top: 110px;
    flex-wrap: wrap;
    gap: 35px;
}

.cards {
    display: flex;
    width: 40%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.banner {
    justify-content: space-around;
    display: flex;
    width: 55%;
}

@media screen and (max-width:1300px) {
    .container {
        width: 90%;
        flex-direction: column;
        margin-top: 10px;
        padding: 29px 18px;
    }

    .cards {
        width: 100%;
    }

    .banner {
        width: 100%;
    }
}



@media screen and (max-width:700px) {

    .container {
        width: 100%;
        border: 2px solid #FEB702;
        border-left: 0px;
        border-right: 0px;
        border-radius: 0px;

        margin-top: 50px;
        padding: 20px 0px;
    }

}




/*   ContentPrice */

.containerPrice {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 150px;
}

.cardsPrice {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #554F4F;
    border: 2px solid black;
    padding: 20px 10px;
    flex-wrap: wrap;
    gap: 22px;
}

@media screen and (max-width:600px) {
    .containerPrice {
        margin-top: 70px;
    }

    .cardsPrice {
        border-radius: 0px;
        background-color: #554F4F;
        border: 0px;
        padding: 20px 10px;
        gap: 8px;
    }
}