@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');


.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 125px 0px;
}

.title {
    font-size: 50px;
    font-family: 'Bree';
}

.icons {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.description {
    display: flex;
    margin-top: 50px;
    font-size: 15px;
    font-family: 'Cabin';
}