@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-top: 10px;
  background-color: #4a4a4a;
  align-items: center;
}

.inline {
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 2px;
}

.logo {
  display: flex;
  width: 177px;
  height: 60px;
}

.logoSmall {
  display: none;
}

.nav {
  display: flex;
  width: 702px;
  flex-wrap: wrap;
  align-items: end;

  justify-content: space-between;
  gap: 5px;

}

.link {
  color: #FFB800;
  font-family: 'Cabin';
  font-size: 18px;
  padding: 5px 10px;
}

.link:hover {
  color: black;
  background-color: #FBA409;
  border-radius: 2px;
  transition: 0.5s;
}

.button {
  display: flex;
  align-self: end;
  margin-bottom: -6px;
  border-bottom: 3px solid black;
  z-index: 2;
}

.btnMenu {
  display: none;
}

.line {
  display: flex;
  background-color: #FFB800;
  width: 80%;
  height: 6px;
  border: 2px solid black;
  align-self: end;
  margin-bottom: 11px;
}

@media screen and (max-width: 800px) {

  .btnMenu {
    display: flex;
  }

  .inline {
    justify-content: space-between;
    padding: 0px 22px;
  }

  .nav {
    display: none;
  }

  .button {
    display: none;
  }

  .line {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 450px) {

  .logo {
    display: none;
  }

  .logoSmall {
    display: flex;
  }
}