@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 134px;
  gap: 5px;
}

.title {
  font-family: "Bree Serif", serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 16px;
}

.video {
  min-width: 72%;
  min-height: 800px;
  display: flex;
  background-color: black;
  border-radius: 20px;
  padding: 2px;
}

.video > iframe {
  width: 100%;
  border-radius: 20px;
  background-color: #ffb800;
}

.description {
  font-family: "PT Sans";
  font-size: 25px;
  font-style: italic;
}
@media screen and (max-width: 1440px) {
  .title {
    margin-top: 120px;
    font-size: 30px;
  }

  .description {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin-bottom: 30px;
  }

  .title {
    font-size: 18px;
    margin-top: 30px;
  }

  .video {
    width: 100%;
    border-radius: 10px;
    padding: 1px;
  }

  .video > video {
    width: 100%;
    border-radius: 15px;
  }

  .description {
    font-size: 12px;
    margin-top: 30px;
  }
}
