@import url('https://fonts.googleapis.com/css2?family=Cambo&display=swap');

.container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: #FDB602;
    
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
    text-decoration: none;
    padding: 16px 0px;
    font-family: "Cambo";
    gap: 24px;
}

.links {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}

.links>a {
    color: #000;
}

.icons {
    display: flex;
    width: 183px;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}

.text {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px 24px;
    gap: 20px;
}

.text>p {
    font-size: 15px;
}

@media screen and (max-width: 700px) {
    .links {
        flex-wrap: wrap;
        gap: 10px;
    }

    .links>a {
        font-size: 10px;
    }

    .icons {
        width: 130px;
    }

    .icons>a>svg {
        width: 30px;
    }

    .text {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text>p {
        font-size: 10px;
    }
}