@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: #595047;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-wrap: wrap;
    margin-top: 25px;
}

.buttons{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-top: 20px;
}

.button{
    width: 43px;
    height: 63px;
    display: flex;
    border-radius: 10px;
    border-bottom-color: #FFB800;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.container :first-child {
    border-left-color: #FFB800;
}

.container :last-child {
    border-right-color: #FFB800;
}