@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.carousel {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: #595047;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 25px;
}

.contentNone{
    display: none;
}

.content{
    flex-wrap: wrap;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.text {
    display: flex;
    flex-direction: column;
    width: 582px;
    text-align: center;
    gap: 30px;
}

.text > h1 {
    font-family: 'Bree Serif';
    font-size: 40px;
}

.text > p{
    font-family: 'PT Sans';
    font-size: 25px;
}

.image{
    display: flex;
    width: 600px;
    margin-bottom: -20px;
}

.image > img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.buttons {
    display: flex;
    width: 95%;
    align-self: flex-end;
    justify-content: space-between;
}

.button {
    display: flex;
    width: 2.75rem;
    height: 4rem;
    border-radius: 10px;
    border-bottom-color: #FFB800;
    background-color: transparent;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px black;
}

.carousel :first-child {
    border-left-color: #FFB800;
}

.carousel :last-child {
    border-right-color: #FFB800;
}