@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

.container {
    display: flex;
    flex-direction: column;
    width: 200px;
    max-width: 200px;
    height: fit-content;
    background-color: #FFB800;
    border: 2px black solid;
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 30px;
    gap: 22px;
    transition: 0.75s;
}

.container:hover {
    background-color: #000;
    color: white;
    border: 2px solid #FFB800;
    cursor: pointer;
    
    .icon {
        background-color: aliceblue;
        border-radius: 5px;
        padding: 8px;
        align-items: center;
    }

}

.text {
    font-size: 12px;
    font-family: "Spicy Rice";
}

.icon {
    display: flex;
    width: 90px;
    height: 90px;
}